parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$value of method SoureCode\\Bundle\\Timezone\\Manager\\TimezoneManager\:\:setTimezone\(\) expects DateTimeZone\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/EventListener/TimezoneListener.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Manager\\TimezoneManager\:\:__construct\(\) has parameter \$enabledTimezoneNames with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Manager/TimezoneManager.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Manager\\TimezoneManager\:\:getEnabledTimezoneNames\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Manager/TimezoneManager.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:fixXmlConfig\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method arrayNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method children\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method defaultValue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method end\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method ifTrue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method info\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method scalarNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method scalarPrototype\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method then\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method thenInvalid\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Cannot call method validate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\SoureCodeTimezoneBundle\:\:loadExtension\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SoureCodeTimezoneBundle.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Tests\\BundleInitializationTest\:\:createKernel\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/BundleInitializationTest.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Tests\\EventListener\\TimezoneListenerTest\:\:createKernel\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/EventListener/TimezoneListenerTest.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Tests\\Manager\\TimezoneManagerTest\:\:createKernel\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Manager/TimezoneManagerTest.php

		-
			message: '#^Method SoureCode\\Bundle\\Timezone\\Tests\\Manager\\TimezoneManagerTest\:\:testSomething\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Manager/TimezoneManagerTest.php

		-
			message: '#^Parameter \#1 \$value of method SoureCode\\Bundle\\Timezone\\Manager\\TimezoneManager\:\:setTimezone\(\) expects DateTimeZone\|string, float\|int\<min, \-1\>\|int\<1, max\>\|string\|true given\.$#'
			identifier: argument.type
			count: 1
			path: tests/app/src/Controller/TestController.php
